

.btn-group button {
  background-color: #CD6155 ; /* Green background */
  border: 1px solid black; /* Green border */
  color: black; /* White text */
  padding: 10px 24px; /* Some padding */
  font-size: 19px;
  font-family:"Times New Roman", Times, serif;
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  border: 2px solid black;
  border-radius: 14px;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;

}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #F5B7B1 ;
}
